# Eine .gitignore wird benutzt um gewisse Dateien oder Datengruppen aus dem Repo
# zu excludieren. Dies wird gemacht um zu vermeiden das zu große Dateien in die Repositorys
# gepushed werden. Erzeugt Datenmüll.


# R
.Rhistory
.RData
.RDataTmp*
.Rproj.user/
.Ruserdata

# renv lokale Bibliotheken
renv/library/

# Output-Daten
data_clean/
data_temp/

# Betriebssystem
.DS_Store
Thumbs.db

# Sonstiges
*.tmp
*.bak

# Hilfsdateien
*.html
*.xml
*.txt


# Datensätze -> Diese sollen über den Dataloader geladen werden um das Repo klein und übersichtlich zu halten.
*.csv
*.pdf
*.asc
*.zip
*.gz

